<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ss="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security.xsd">

  <ss:authentication-manager alias="authenticationManager">
    <ss:authentication-provider>
      <ss:user-service id="userService">
        <ss:user name="pedro" password="admin" authorities="ROLE_ADMIN" />
        <ss:user name="luiz" password="luiz" authorities="ROLE_SHOPKEEPER" />
        <ss:user name="carlos" password="carlos" authorities="ROLE_PROVIDER" />
      </ss:user-service>
    </ss:authentication-provider>
  </ss:authentication-manager>

</beans>